Repository betagouv/ma-cantine, pull requests merged in 2023-11, with the labels that each got.

#3155 Bug fix : pourcentages synthèse appro
  frontend/src/utils.js
Labels: ma progression

#3156 Ajouter le CTA pour TD page ma progression
  frontend/src/views/DiagnosticEditor/index.vue
  frontend/src/views/MyProgress/index.vue
Labels: ma progression

#3157 Bouton grisé quand les données sont télédéclarées
  frontend/src/views/MyProgress/ProgressTab.vue
  frontend/src/views/MyProgress/summary/QualityMeasureSummary.vue
Labels: ma progression

#3161 Ma progression : Ajouter mot prévisionnel aux années
  frontend/src/views/MyProgress/index.vue
Labels: ma progression

#3189 Indiquer les champs optionnels dans le tunnel de diversification
  frontend/src/scss/dsfr.scss
  frontend/src/views/DiagnosticTunnel/DiversificationMeasureSteps/index.vue
Labels: tunnel diag

#3179 Ajout du tunnel pour le gaspillage
  frontend/src/components/KeyMeasureDiagnostic/WasteMeasure.vue
  frontend/src/constants.js
  frontend/src/views/DiagnosticTunnel/WasteMeasureSteps/index.vue
Labels: tunnel diag

#3178 Ajout du tunnel pour la mesure communication
  frontend/src/components/KeyMeasureDiagnostic/InformationMeasure.vue
  frontend/src/constants.js
  frontend/src/views/DiagnosticTunnel/InformationMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3158 Lien avec l'outil suivi achats et page ma progression pour l'année en cours
  api/views/purchase.py
  frontend/src/components/DiagnosticSummary/PurchasesSummary.vue
  frontend/src/components/DiagnosticSummary/QualityMeasureSummary.vue
  frontend/src/views/MyProgress/ProgressTab.vue
Labels: ma progression

#3192 Tunnel : ajouter les icones de tous les tunnels, et naviguer vers le prochain onglet sur la page ma progression à la fin d'un tunnel
  frontend/src/components/DsfrStepper.vue
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3201 Achats : utiliser un texte defaut pour rendre les achats sans description modifiables
  frontend/src/views/PurchasesHome.vue
Labels: 🚨 bug prod

#3187 Ajout du tunnel pour la mesure qualité (saisie simplifiée)
  frontend/src/components/DiagnosticSummary/QualityMeasureSummary.vue
  frontend/src/components/TeledeclarationPreview/PreviewTable.vue
  frontend/src/constants.js
  frontend/src/data/quality-labels.json
  frontend/src/views/DiagnosticEditor/SimplifiedQualityValues.vue
  frontend/src/views/DiagnosticEditor/index.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/BioSiqoStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/ErrorHelper.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/FishStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/MeatPoultryStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/OtherEgalimStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/QualityTotalStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3218 Synthèse appro : bug fix pourcentage EGAlim
  frontend/src/utils.js
Labels: ma progression, tunnel diag

#3215 Bug fix : text du bouton
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3210 Tunnel appro : regrouper des messages d'erreur
  frontend/src/components/FormErrorCallout.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/BioSiqoStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/FishStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/MeatPoultryStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/OtherEgalimStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/QualityTotalStep.vue
Labels: tunnel diag

#3207 Petites améliorations format tunnel
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3217 Tunnel appro : envoyer le min payload
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/index.vue
Labels: tunnel diag

#3216 Tunnel : reparer texte optionnel
  frontend/src/views/DiagnosticTunnel/InformationMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/WasteMeasureSteps/index.vue
Labels: tunnel diag

#3213 MAJ lien pour modifier le diagnostic dans le modal TD
  frontend/src/components/TeledeclarationPreview/index.vue
  frontend/src/views/PendingActions/AnnualActionableCanteensTable.vue
Labels: ma progression

#3209 Tunnel appro : validation on blur pas on change
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/BioSiqoStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/FishStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/MeatPoultryStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/OtherEgalimStep.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/QualityTotalStep.vue
Labels: tunnel diag

#3211 Tunnel appro : refacto de composant
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/ErrorHelper.vue
Labels: tunnel diag

#3219 Tunnel : UI synthèses
  frontend/src/components/DiagnosticSummary/WasteMeasureSummary.vue
  frontend/src/views/DiagnosticTunnel/DiversificationMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/InformationMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/NoPlasticMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/SummaryWrapper.vue
  frontend/src/views/DiagnosticTunnel/WasteMeasureSteps/index.vue
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3226 Only show detailed data edit button on progress tab, not in tunnel
  frontend/src/components/DiagnosticSummary/QualityMeasureSummary.vue
  frontend/src/views/MyProgress/ProgressTab.vue
Labels: tunnel diag

#3214 Dashboard : montrer badge données à completer si on n'a pas commencer le tunnel
  frontend/src/utils.js
  frontend/src/views/DashboardManager/ApproSegment.vue
  frontend/src/views/DashboardManager/DiversificationCard.vue
  frontend/src/views/DashboardManager/FoodWasteCard.vue
  frontend/src/views/DashboardManager/InformationCard.vue
  frontend/src/views/DashboardManager/NoPlasticCard.vue
  frontend/src/views/MyProgress/ProgressTab.vue
Labels: dashboard

#3212 Supprimer le sidebar maintenant que les pages doivent être accessible depuis le nouveau tableau de bord
  frontend/src/components/BreadcrumbsNav.vue
  frontend/src/components/SatelliteTable.vue
  frontend/src/router/index.js
  frontend/src/views/CanteenEditor/CanteenForm.vue
  frontend/src/views/CanteenEditor/index.vue
  frontend/src/views/DashboardManager/PublicationWidget.vue
  frontend/src/views/DashboardManager/SatellitesWidget.vue
Labels: dashboard

#3208 Vérifier que les chiffres saisis sont de bon format
  frontend/src/validators.js
Labels: 🚨 bug prod

#3225 Tunnel : alignement prochain onglet et boutons
  frontend/src/views/DiagnosticTunnel/index.vue
Labels: tunnel diag

#3249 Appro complet : gerer les erreurs viandes et poissons
  frontend/src/utils.js
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/ErrorHelper.vue
  frontend/src/views/DiagnosticTunnel/QualityMeasureSteps/MeatFishStep.vue
Labels: tunnel diag

#3257 MAJ lien CNRC
  frontend/src/components/KeyMeasureResource/QualityMeasure.vue
Labels: 🚨 bug prod
